<!DOCTYPE html>
<html>
  
   <head>
    <title>Zakkushu Discordbot</title>
    <meta name="description" content="Satan Discord">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link id="favicon" rel="icon" href="https://cdn.glitch.com/5dc4c0c2-1192-41de-9f1d-ac4fdd173439%2Fatok_jD3_icon.ico?1532624233112" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <meta property="og:title" content="Zakkushu Discordbot">
    <meta property="og:description" content="Satan Discord">
    <meta property="og:image" content="https://cdn.glitch.com/5dc4c0c2-1192-41de-9f1d-ac4fdd173439%2Fatok.png?1531562639115">
    <meta property="og:url" content="https://zakkushu-discordbot.glitch.me/">
  
  </head>
  
  <body>
    <div class="container">
      <img class="discordlogo" src="https://cdn.glitch.com/93134982-a743-425b-acb5-1d708081397b%2Fdiscordlogo.png?v=1572341036085">
      <div class="center">
        Zakkushu Discordbot <br><br>
        <button id="test">Test Button</button>
      </div>
      
      <div class="login" style="padding-top:10px;">
        <button id="logout">Logout</button>
        <a href="https://zakkushu-discordbot.glitch.me/" class="button" >Back</a>
      </div>
    </div>
    
    <script src="https://cdn.glitch.com/93134982-a743-425b-acb5-1d708081397b%2Fjquery.cookie-1.4.1.min.js?v=1572453536269"></script>
    <script src="/admin.js"></script>
  </body>
  
      

  
</html>